{% extends 'bcdapp/clienttemplates/base.html' %}
{% load static %}


{% block content %}


	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="index.html">Home</a>
					<span>| |</span>
				</li>
				<li>Gallery</li>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<!-- Gallery -->
	<div class="gallery">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur <span>G</span>allery
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="agileinfo-gallery-row">
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g7.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g7.jpg' %}" alt="" title="Our Library" />
						<div class="agile-figcaption">
							<h4>Library</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g9.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g9.jpg' %}" alt="" title="Volleyball Sports" />
						<div class="agile-figcaption">
							<h4>Volleyball</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g3.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g3.jpg' %}" alt="" title="Our Computer Lab" />
						<div class="agile-figcaption">
							<h4>Computer Lab</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g4.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g4.jpg' %}" alt="" title="Meditation" />
						<div class="agile-figcaption">
							<h4>Meditation</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g1.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g1.jpg' %}" alt="" title="Science" />
						<div class="agile-figcaption">
							<h4>Science</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g6.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g6.jpg' %}" alt="" title="Group Discussion" />
						<div class="agile-figcaption">
							<h4>Group Discussion</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g2.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g2.jpg' %}" alt="" title="Chemical Lab" />
						<div class="agile-figcaption">
							<h4>Chemical Lab</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g5.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g5.jpg' %}" alt="" title="Our Sports" />
						<div class="agile-figcaption">
							<h4>Sports</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-4 w3gallery-grids">
					<a href="{% static 'clientstatic/images/g8.jpg' %}" class="imghvr-hinge-right figure">
						<img src="{% static 'clientstatic/images/g8.jpg' %}" alt="" title="Our Excellent Seminar" />
						<div class="agile-figcaption">
							<h4>Seminar</h4>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //Gallery -->



{% endblock content %}