{% extends 'bcdapp/clienttemplates/base.html' %}
{% load static %}


{% block content %}

<div class="blog-cource">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>P</span>opular
					<span>C</span>ourses
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="blog-info">
				<div class="col-xs-4 blog-grid-img">
					<img src="{% static 'clientstatic/images/c2.jpg' %}" class="img-responsive" alt="" />
				</div>
				<div class="col-xs-8 blog-grid-text">
					<h4>Web Technology</h4>
					<h6>Rerum Delectus</h6>
					<p>Sed interdum interdum accumsan. Aenean nec purus ac orci finibus facilisis. In sit amet placerat nisl, in auctor sapien.
						Donec ultricies faucibus ante in mattis earum rerum delectus in auctor sapien. </p>
					<a class="button-style" href="join.html">Apply Now</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


{% endblock content %}