{% extends 'bcdapp/admintemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}


{% block content %}
<div class="container-fluid bg-light">
	{% if organization %}
    <div class="content">
        <h2 style="color: green;"><img src="{{organization.logo.url}}" width="100" style="border: 4px solid red;">{{organization.name|striptags}}, &nbsp;<small>"{{organization.slogan}}"</small></h2>
        <a href="{% url 'bcdapp:adminorganizationupdate' organization.id %}" class="btn btn-primary pull-right">Update Organization</a>
        <hr>

        <h5>{{organization.location}}</h5>
        <h5>{{organization.established_date}}</h5>
        <h5>{{organization.phone1}}</h5>
        <h5>{{organization.phone2}}</h5>
        <h5>{{organization.email}}</h5>
    </div>
    <div class="row clearfix">
    	<img src="{{organization.image.url}}" class="img-responsive">
    	 <p>{{organization.description|safe}}</p>
    </div>
    <a href="{% url 'bcdapp:adminorganizationupdate' organization.id %}" class="btn btn-primary pull-right">Update Organization</a><hr><br><br>
    {% else %}
    <div class="row clearfix">
    	<a href="{% url 'bcdapp:adminorganizationcreate' %}">Create Organization</a>
    </div>


    {% endif %}
</div>
{% endblock content %}