{% extends 'bcdapp/admintemplates/base.html' %}
{% load static %}
{% block notices %}active{% endblock notices %}


{% block content %}
<div class="container-fluid">
    <div class="block-header">
        <h2>Create Page</h2>
    </div>

    <div class="row clearfix">
        <form method="POST" enctype="multipart/form-data">
        	{% csrf_token %}
        	{{form.media}}
        	{{form.as_p}}
        	<button class="btn btn-primary">Submit</button>
        </form>
        <hr>
    </div>
</div>
{% endblock content %}