{% load static %}

<!DOCTYPE html>
<html>
<head>
	<head>
    <title>{% block title %}Login{% endblock title %}</title>
    <link rel="icon" href="{% static 'adminstatic/images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'adminstatic/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>
</head>
<body class="container">
<div class="row">
	<div class="col-md-4 col-md-offset-4 bg-primary">
		<h3 class="text-center">Administration Login</h3><hr>
		
		{% if errors %}
		<h3 style="color: red;">{{errors}}</h3>
		{% else %}
		<h3>Enter your secret username and password</h3>
		{% endif %}
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<br>
			<button class="btn btn-block btn-default">Submit</button>
		</form><br>
	</div>
</div>	
</body>
</html>