{% extends 'bcdapp/admintemplates/base.html' %}
{% load static %}
{% block staffs %}active{% endblock staffs%}
{% block css %}
<link href="{% static 'adminstatic/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
        <div class="container-fluid">
            <!-- Basic Examples -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Staff list
                            </h2>
                            <h2 class="pull-right">
                               <a href="{% url 'bcdapp:adminstaffcreate' %}">Add New</i></a>
                            </h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>SN</th>
                                            <th>Name</th>
                                            <th>Post</th>
                                            <th>image</th>
                                            <th>subject</th>
                                            <th>email</th>
                                            <th>phone1</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>SN</th>
                                            <th>Name</th>
                                            <th>Post</th>
                                            <th>Image</th>
                                            <th>subject</th>
                                            <th>email</th>
                                            <th>phone1</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    	{% for staff in allstaffs %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{staff.name}}</td>
                                            <td>{{staff.post}}</td>
                                            <td><img src="{{staff.image.url}}" width="50"></td>
                                            <td>{{staff.subject}}</td>
                                            <td>{{staff.email}}</td>
                                            <td>{{staff.phone1}}</td>

                                            <td>
                                            	<a href="{% url 'bcdapp:adminstaffupdate' staff.id %}" class="btn btn-default"> Update</a>
                                            	<a href="{% url 'bcdapp:adminstaffdelete' staff.id %}" class="btn btn-danger" data-toggle="modal" data-target="#schoolmodal"> Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'adminstatic/plugins/jquery-datatable/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminstatic/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'adminstatic/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'adminstatic/js/pages/tables/jquery-datatable.js' %}"></script>
{% endblock javascript %}