{% extends 'bcdapp/admintemplates/base.html' %}
{% load static %}
{% block events %}active{% endblock events %}





{% block content %}
<div class="container-fluid">
    <div class="block-header">
        <h2>Create Event</h2>
    </div>

    <div class="row clearfix">
        <form method="POST" enctype="multipart/form-data">
        	{% csrf_token %}
        	{{form.media}}
        	{{form.as_p}}
        	<button class="btn btn-primary">Submit</button>
        </form>
        <hr>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'adminstatic/css/datetimepicker.css' %}">
<script type="text/javascript" src="{% static 'adminstatic/js/datetimepicker.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker5').datetimepicker();
    });
</script>
{% endblock javascript %}